<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <figure class="text-center">
                  <blockquote class="blockquote">
                    <h1 class="display-3">ABC</h1>
                  </blockquote>
                  <figcaption class="blockquote-footer">
                    Malos hábitos alimenticios
                  </figcaption>
                </figure><hr>
              </div>
            </div>
            <div class="row">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                  {% for data in info %}
                  <div class="col">
                    <div class="card">
                      {% if loop.index%2 == 0%}
                        <img src="{{ im1 }}" class="card-img-top">
                      {% else %}
                        <img src="{{ im2}}" class="card-img-top">
                      {%endif%}
                      <div class="card-body">
                        <h5 class="card-title text-truncate">{{info[loop.index0]['label']}}</h5>
                        <p class="card-text">
                          <ul class="list-group">
                            <li class="list-group-item">
                              <b>Quantity: </b><i>{{info[loop.index0]['quantity']}}</i>
                            </li>
                            <li class="list-group-item">
                              <b>Unit: </b><i>{{info[loop.index0]['unit']}}</i>
                            </li>
                            </ul>
                        </p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                  <hr>
                  <button type="button" class="btn btn-outline-dark btn-lg">Encuesta</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>